<!-- La navegacion fue lo primero que cree -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- Para que la pagina no se recarge use el routerLink de angular -->
      <a class="navbar-brand" routerLink="/">Prueba Front-end</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">        
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/firstendpoint" routerLinkActive="active">First endpoint</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" routerLink="/secondendpoint" routerLinkActive="active">Second endpoint</a>
          </li>        
        </ul>
      </div>
    </div>    
  </nav>