<br>
<div class="container" [ngStyle]="{'margin-top': '80px'}">    
    <button class="btn btn-danger" (click)="getSecond()">Get Second endpoint</button>
    <br><br>
    <div class="row animated fadeIn fast"
        *ngIf="cargando">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h5 class="alert-heading">Cargando</h5>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>

    <div class="row animated fadeIn fast">
        <div class="col-md-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>a</th>
                        <th>b</th>
                        <th>c</th>
                        <th>d</th>
                        <th>e</th>
                        <th>f</th>
                        <th>g</th>
                        <th>h</th>
                        <th>i</th>
                        <th>j</th>
                        <th>k</th>
                        <th>l</th>
                        <th>m</th>
                        <th>n</th>
                        <th>o</th>
                        <th>p</th>
                        <th>q</th>
                        <th>r</th>
                        <th>s</th>
                        <th>t</th>
                        <th>u</th>
                        <th>v</th>
                        <th>w</th>
                        <th>x</th>
                        <th>y</th>
                        <th>z</th>
                        <th>Suma total</th>
                    </tr>
                </thead>
                <tbody *ngIf="!cargando">
                    <tr *ngFor="let data of info; let item=index">
                        <td [ngStyle]="{'background': 'grey'}" >{{item+1}}</td>
                        <!-- <td *ngIf="data.paragraph.indexOf('a') != -1"></td>                                     -->
                        <td>{{data.paragraph.indexOf('a')}}</td>
                        <td>{{data.paragraph.indexOf('b')}}</td>
                        <td>{{data.paragraph.indexOf('c')}}</td>
                        <td>{{data.paragraph.indexOf('d')}}</td>
                        <td>{{data.paragraph.indexOf('e')}}</td>
                        <td>{{data.paragraph.indexOf('f')}}</td>
                        <td>{{data.paragraph.indexOf('g')}}</td>
                        <td>{{data.paragraph.indexOf('h')}}</td>
                        <td>{{data.paragraph.indexOf('i')}}</td>
                        <td>{{data.paragraph.indexOf('j')}}</td>
                        <td>{{data.paragraph.indexOf('k')}}</td>
                        <td>{{data.paragraph.indexOf('l')}}</td>
                        <td>{{data.paragraph.indexOf('m')}}</td>
                        <td>{{data.paragraph.indexOf('n')}}</td>
                        <td>{{data.paragraph.indexOf('o')}}</td>
                        <td>{{data.paragraph.indexOf('p')}}</td>
                        <td>{{data.paragraph.indexOf('q')}}</td>
                        <td>{{data.paragraph.indexOf('r')}}</td>
                        <td>{{data.paragraph.indexOf('s')}}</td>
                        <td>{{data.paragraph.indexOf('t')}}</td>
                        <td>{{data.paragraph.indexOf('u')}}</td>
                        <td>{{data.paragraph.indexOf('v')}}</td>
                        <td>{{data.paragraph.indexOf('w')}}</td>
                        <td>{{data.paragraph.indexOf('x')}}</td>
                        <td>{{data.paragraph.indexOf('y')}}</td>
                        <td>{{data.paragraph.indexOf('z')}}</td>                                                                            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>