<br>
<div class="container" [ngStyle]="{'margin-top': '80px'}">
    <button class="btn btn-primary" (click)="getFirst()">Get First endpoint</button>
    <br><br>
    <!-- Este es el div que aparece cuando se esta obteniendo la data, con un simbolo de loading -->
    <div class="row animated fadeIn fast"
        *ngIf="cargando">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h5 class="alert-heading">Cargando</h5>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>

    <div class="row animated fadeIn fast">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Number</th>
                        <th>Quantity</th>
                        <th>First position</th>
                        <th>Last position</th>
                    </tr>
                </thead>
                <tbody *ngIf="!cargando">
                    <!-- En esta tabla se imprime la data obtenida desde el primer endpoint -->
                    <tr *ngFor="let data of info; let item=index">
                        <!-- Se itera la variable info que es un arreglo con toda la data y se imprime-->
                        <td>{{item+1}}</td>
                        <!-- Dependiendo del valor obtenido la caja tendra su background -->
                        <td *ngIf="data >= 2" [ngStyle]="{'background-color': 'green'}" class="text-white">{{data}}</td>
                        <td *ngIf="data === 1" [ngStyle]="{'background-color': 'yellow'}">{{data}}</td>
                        <td *ngIf="data < 1" [ngStyle]="{'background-color': 'grey'}">{{data}}</td>
                        <td></td>
                        <td>{{info[0]}}</td>
                        <td>{{info[19]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>